<!DOCTYPE html>
<html lang="en">
     <head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link rel="shortcut icon" href="../images/a-logo.png" type="image/x-icon">
          <link rel="stylesheet" href="../css/products.css">
          <title>Products | Acer</title>
     </head>

     <body>
          <div class="navbar">
               <div style="flex: 1;">
                    <img class="logo" src="../images/acer.png">
               </div>

               <div style="flex: 1;">
                    <div class="navigator">
                         <a href="/home">
                              <div class="nav-container">
                                   <i class="fa-solid fa-house nav-icon"></i>
                                   <span class="nav-label">Home</span>
                              </div>
                         </a>
     
                         <div class="nav-container-active">
                              <i class="fa-solid fa-laptop nav-icon"></i>
                              <span class="nav-label">Products</span>
                         </div>
     
                         <a href="/orders">
                              <div class="nav-container">
                                   <% if(counter[0].count_order > 0) {%>
                                        <div class="counter"><%= counter[0].count_order %> </div>
                                   <% } %>
                                   
                                   <i class="fa-solid fa-cart-shopping nav-icon"></i>
                                   <span class="nav-label">Orders</span>
                              </div>
                         </a>
                    </div>
               </div>

               <div style="flex: 1; display: flex; justify-content: flex-end;">
                    <div class="profile">
                         <span class="name"><%= info[0].user_fname + " " + info[0].user_lname %></span>

                         <a href="/logout">
                              <div class="btn-logout">
                                   <i class="fa-solid fa-right-from-bracket"></i>
                              </div>
                         </a>
                    </div>
               </div>
          </div>

          <div class="heading-container">
               <span class="heading">All Products</span>

               <div class="line-accent"></div>
          </div>

          <div class="main-container">
               <form action="/products" method="POST">
                    <div class="search-container">
                         <div class="search-form">
                              <input 
                                   type="text" 
                                   class="search-input" 
                                   name="search" 
                                   id="search"
                                   placeholder="Search..." 
                                   value ="<% if(search != '') {%><%= search %><%}%>"
                                   autocomplete="off"
                                   >
     
                              <button type="submit" class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                         </div>
                    </div>
               </form>

               <% if(search != '' && products.length == 0) {%>
                    <div class="empty-container">
                         <img src="../images/not_found.svg" class="not-found">
                         <h4 class="not-found-text">No products matched with the description "<%= search %>"</h4>
                    </div>
               <% } %>

               <% for(var i = 0; i < category.length; i++) {%>
                    <div class="category-container">
                         <span class="category-desc"><%= category[i].category_desc %>s</span>

                         <div class="category-accent"></div>
                    </div>

                    <div class="product-container">
                         <% for(var j = 0; j < products.length; j++) { 
                              if(category[i].category_id == products[j].category_id) {
                         %>
                              <div class="product-card">
                                   <img class="product-image" src="../uploads/<%= products[j].product_image %> ">
     
                                   <div class="name-container">
                                        <span class="product-name"><%= products[j].product_name %></span>
                                   </div>
     
                                   <div class="desc-container">
                                        <p class="product-desc"><%= products[j].product_desc %></p>
                                   </div>
     
                                   <span class="product-price">Php.<%= products[j].product_price %></span>
     

                                   <div class="form-container">
                                        <form action="/finalize-order" method="POST">
                                             <input type="hidden" name="product_id" value=<%= products[j].product_id %>>
                                             <input type="submit" class="btn-order" name="btn-order" value="ORDER">
                                        </form>
                                   </div>
                              </div>
                         <% 
                              }
                         }
                         %>
                    </div>
               <% } %>
          </div>

          <div class="footer">
               <div class="legal">
                    <img class="logo" src="../images/acer.png" alt="" srcset="">

                    <p class="legal-heading">© Copyright | All Rights Reserved <%= new Date().getFullYear() %></p>

                    <div class="links-container">
                         <a href="https://www.acer.com/ph-en/privacy" class="legal-links">Privacy</a>

                         <a href="https://www.acer.com/ph-en/privacy/cookie-policy" class="legal-links">Cookie Policy</a>

                         <a href="https://www.acer-group.com/ag/en/TW/content/legal-english" class="legal-links">Legal Notice</a>

                         <a href="https://www.acer.com/ph-en/privacy/additional-legal-information" class="legal-links">Additional Legal Information</a>
                    </div>

               </div>

               <div class="socials">
                    <p class="legal-heading">Like and follow us!</p>

                    <div class="social-links">
                         <a href="https://www.facebook.com/AcerPH" target="_blank">
                              <div><i class="fa-brands fa-facebook"></i></div>
                         </a>

                         <a href="https://www.instagram.com/Acer/" target="_blank">
                              <div><i class="fa-brands fa-instagram"></i></div>
                         </a>

                         <a href="https://twitter.com/acer" target="_blank">
                              <div><i class="fa-brands fa-twitter"></i></div>
                         </a>

                         <a href="https://www.youtube.com/user/acer" target="_blank" rel="">
                              <div><i class="fa-brands fa-youtube"></i></div>
                         </a>
                    </div>
               </div>
          </div>
     </body>

     <script src="https://kit.fontawesome.com/091cd4a75a.js" crossorigin="anonymous"></script>
</html>